##### PROYECTO PARTNERDHIPFINDER

##### ETL dataset team_details.csv

##### Importamos Pandas y Numpy a nuestro codigo

In [1]:
import pandas as pd
import numpy as np

##### Asignamos la ruta del archivo other_stats.csv a la variable data_other_stats

In [2]:
data_other_stats = 'other_stats.csv'

##### Utilizamos pd.read_csv para leer el archivo other_stats.csv y asignar el contenido del mismo  a un objeto de pandas

In [3]:
data_stats = pd.read_csv('other_stats.csv')

##### Mostramos las 5 primeras filas del archivo

In [4]:
data_stats.head()

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,...,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,0,1610612756,PHX,Phoenix,44,18,2,1,4,...,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,0,1610612737,ATL,Atlanta,32,9,6,0,0,...,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,0,1610612739,CLE,Cleveland,36,14,6,20,1,...,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,0,1610612754,IND,Indiana,34,11,4,10,7,...,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,0,1610612746,LAC,Los Angeles,40,19,2,12,5,...,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN

##### Confirmamos el tamaño del dataset

In [5]:
data_stats.shape

(28271, 26)

##### Utilizamos .isnull().sum() para obtener el total de valores nulos por columna en el dataset

In [6]:
data_stats.isnull().sum()

game_id                      0
league_id                    0
team_id_home                 0
team_abbreviation_home       0
team_city_home               0
pts_paint_home               0
pts_2nd_chance_home          0
pts_fb_home                  0
largest_lead_home            0
lead_changes                 0
times_tied                   0
team_turnovers_home          2
total_turnovers_home       316
team_rebounds_home        1998
pts_off_to_home           2123
team_id_away                 0
team_abbreviation_away       0
team_city_away               0
pts_paint_away               0
pts_2nd_chance_away          0
pts_fb_away                  0
largest_lead_away            0
team_turnovers_away          2
total_turnovers_away       316
team_rebounds_away        1998
pts_off_to_away           2123
dtype: int64

##### Imprimimos data_stats para analizar  los datos

In [7]:
print(data_stats)

        game_id  league_id  team_id_home team_abbreviation_home  \
0      29600012          0    1610612756                    PHX
1      29600005          0    1610612737                    ATL
2      29600002          0    1610612739                    CLE
3      29600007          0    1610612754                    IND
4      29600013          0    1610612746                    LAC
...         ...        ...           ...                    ...
28266  42200402          0    1610612743                    DEN
28267  42200403          0    1610612748                    MIA
28268  42200404          0    1610612743                    DEN
28269  32200001          0    1610616834                    LBN
28270  32200001          0    1610616834                    LBN

      team_city_home  pts_paint_home  pts_2nd_chance_home  pts_fb_home  \
0            Phoenix              44                   18            2
1            Atlanta              32                    9            6
2          Cleveland              36                   14            6
3            Indiana              34                   11            4
4        Los Angeles              40                   19            2
...              ...             ...                  ...          ...
28266         Denver              50                   15           18
28267          Miami              34                    7           11
28268         Denver              48                    6           12
28269           Team             118                   15           27
28270           Team             118                   15           27

       largest_lead_home  lead_changes  ...  team_abbreviation_away  \
0                      1             4  ...                     LAL
1                      0             0  ...                     MIA
2                     20             1  ...                     NJN
3                     10             7  ...                     DET
4                     12             5  ...                     GSW
...                  ...           ...  ...                     ...
28266                 15             4  ...                     MIA
28267                  5             7  ...                     DEN
28268                 17             3  ...                     MIA
28269                  4            24  ...                     GNS
28270                  4            24  ...                     GNS

       team_city_away  pts_paint_away  pts_2nd_chance_away  pts_fb_away  \
0         Los Angeles              42                   10           13
1               Miami              32                   15           14
2          New Jersey              26                   16            4
3             Detroit              30                   14            7
4        Golden State              30                    9            2
...               ...             ...                  ...          ...
28266           Miami              34                   11            5
28267          Denver              60                   14           11
28268           Miami              46                    9           14
28269            Team              88                   14           33
28270            Team              88                   14           33

       largest_lead_away team_turnovers_away total_turnovers_away  \
0                     19                 0.0                 23.0
1                     16                 1.0                 19.0
2                      2                 1.0                 22.0
3                      9                 2.0                 19.0
4                      6                 0.0                 20.0
...                  ...                 ...                  ...
28266                 12                 0.0                 11.0
28267                 21                 1.0                 14.0
28268                  3                 1.0                 15.0
28269                 19                 0.0                 12.0
28270                 19                 0.0                 12.0

       team_rebounds_away  pts_off_to_away
0                    11.0              NaN
1                     6.0              NaN
2                    12.0              NaN
3                    10.0              NaN
4                     7.0              NaN
...                   ...              ...
28266                 4.0             23.0
28267                 7.0             17.0
28268                 9.0             17.0
28269                 3.0             20.0
28270                 3.0             20.0

[28271 rows x 26 columns]

##### Eliminamos los valores nulos de las columnas donde aparecen. Para esto, vamos a crear un nuevo dataframe llamado datos_sin_nulos sin las filas con los valores nulos.  De esta manera, el dataframe original data_stats no se modifica

In [9]:
data_sin_nulos = data_stats.dropna(subset=['total_turnovers_home', 'team_rebounds_home', 'pts_off_to_home', 'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away'])

##### Verificamos nuevamente la presencia de datos nulos en el dataset y comprobamos que todos fueron eliminados

In [10]:
data_sin_nulos.isnull().sum()

game_id                   0
league_id                 0
team_id_home              0
team_abbreviation_home    0
team_city_home            0
pts_paint_home            0
pts_2nd_chance_home       0
pts_fb_home               0
largest_lead_home         0
lead_changes              0
times_tied                0
team_turnovers_home       0
total_turnovers_home      0
team_rebounds_home        0
pts_off_to_home           0
team_id_away              0
team_abbreviation_away    0
team_city_away            0
pts_paint_away            0
pts_2nd_chance_away       0
pts_fb_away               0
largest_lead_away         0
team_turnovers_away       0
total_turnovers_away      0
team_rebounds_away        0
pts_off_to_away           0
dtype: int64

##### Verificamos el tamaño del dataframe

In [11]:
data_sin_nulos.shape

(24251, 26)

##### Obtenemos la información general sobre el DataFrame, incluyendo el número de entradas,el número de columnas, el tipo de datos de cada columna, para corroborar que coinciden con el especificado

In [12]:
info_general = data_sin_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24251 entries, 18 to 28270
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 24251 non-null  int64
 1   league_id               24251 non-null  int64
 2   team_id_home            24251 non-null  int64
 3   team_abbreviation_home  24251 non-null  object
 4   team_city_home          24251 non-null  object
 5   pts_paint_home          24251 non-null  int64
 6   pts_2nd_chance_home     24251 non-null  int64
 7   pts_fb_home             24251 non-null  int64
 8   largest_lead_home       24251 non-null  int64
 9   lead_changes            24251 non-null  int64
 10  times_tied              24251 non-null  int64
 11  team_turnovers_home     24251 non-null  float64
 12  total_turnovers_home    24251 non-null  float64
 13  team_rebounds_home      24251 non-null  float64
 14  pts_off_to_home         24251 non-null  float64
 15  team_id_away            24251 non-null  int64
 16  team_abbreviation_away  24251 non-null  object
 17  team_city_away          24251 non-null  object
 18  pts_paint_away          24251 non-null  int64
 19  pts_2nd_chance_away     24251 non-null  int64
 20  pts_fb_away             24251 non-null  int64
 21  largest_lead_away       24251 non-null  int64
 22  team_turnovers_away     24251 non-null  float64
 23  total_turnovers_away    24251 non-null  float64
 24  team_rebounds_away      24251 non-null  float64
 25  pts_off_to_away         24251 non-null  float64
dtypes: float64(8), int64(14), object(4)
memory usage: 5.0+ MB

##### Guardo los datos filtrados en un archivo .csv para utilizarlo en adelante en el analisis solicitado.  Index=False es un parametro que indica que no se debe guardar el índice del dataframe en el archivo .csv

In [13]:
data_sin_nulos.to_csv('Data_stats_Final_Filtrado.csv',index=False)

##### Almaceno mi dataset ya filtrado en una nueva variable llamada archivo_data_stats

In [15]:
archivo_data_stats=pd.read_csv('Data_stats_Final_Filtrado.csv')

##### Aplico un ciclo for para el calculo de estadistica descriptiva y otras metricas importantes. Estas metricas ayudan en el analisis de datos al proporcionar una vision rapida y resumida de la distribucion y dispersion de los datos, permitiendo identificar patrones, tendencias y posibles anomalias

In [16]:
for i in archivo_data_stats.columns:
    print(i)
    print(archivo_data_stats[i].describe())
    print('-------------------------------------')

game_id
count    2.425100e+04
mean     2.253364e+07
std      5.431611e+06
min      1.100000e+07
25%      2.060119e+07
50%      2.130123e+07
75%      2.190124e+07
max      4.960009e+07
Name: game_id, dtype: float64
-------------------------------------
league_id
count    24251.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: league_id, dtype: float64
-------------------------------------
team_id_home
count    2.425100e+04
mean     1.608288e+09
std      6.114387e+07
min      4.100000e+01
25%      1.610613e+09
50%      1.610613e+09
75%      1.610613e+09
max      1.610617e+09
Name: team_id_home, dtype: float64
-------------------------------------
team_abbreviation_home
count     24251
unique       58
top         BOS
freq        905
Name: team_abbreviation_home, dtype: object
-------------------------------------
team_city_home
count           24251
unique             54
top       Los Angeles
freq             1341
Name: team_city_home, dtype: object
-------------------------------------
pts_paint_home
count    24251.000000
mean        42.310915
std         10.579419
min          8.000000
25%         34.000000
50%         42.000000
75%         50.000000
max        120.000000
Name: pts_paint_home, dtype: float64
-------------------------------------
pts_2nd_chance_home
count    24251.000000
mean        13.111665
std          5.399838
min          0.000000
25%          9.000000
50%         13.000000
75%         17.000000
max         37.000000
Name: pts_2nd_chance_home, dtype: float64
-------------------------------------
pts_fb_home
count    24251.000000
mean        13.048163
std          6.676544
min          0.000000
25%          8.000000
50%         12.000000
75%         17.000000
max        106.000000
Name: pts_fb_home, dtype: float64
-------------------------------------
largest_lead_home
count    24251.000000
mean        12.062018
std          9.201342
min          0.000000
25%          5.000000
50%         10.000000
75%         17.000000
max         70.000000
Name: largest_lead_home, dtype: float64
-------------------------------------
lead_changes
count    24251.000000
mean         6.099501
std          5.306922
min          0.000000
25%          2.000000
50%          5.000000
75%          9.000000
max         40.000000
Name: lead_changes, dtype: float64
-------------------------------------
times_tied
count    24251.000000
mean         5.083378
std          4.099502
min          0.000000
25%          2.000000
50%          4.000000
75%          8.000000
max         29.000000
Name: times_tied, dtype: float64
-------------------------------------
team_turnovers_home
count    24251.000000
mean         0.625253
std          0.804275
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          6.000000
Name: team_turnovers_home, dtype: float64
-------------------------------------
total_turnovers_home
count    24251.000000
mean        14.480681
std          4.033262
min          1.000000
25%         12.000000
50%         14.000000
75%         17.000000
max         34.000000
Name: total_turnovers_home, dtype: float64
-------------------------------------
team_rebounds_home
count    24251.000000
mean         8.412189
std          3.118563
min          0.000000
25%          6.000000
50%          8.000000
75%         10.000000
max         23.000000
Name: team_rebounds_home, dtype: float64
-------------------------------------
pts_off_to_home
count    24251.000000
mean        15.207002
std          7.179865
min          0.000000
25%         11.000000
50%         15.000000
75%         20.000000
max         47.000000
Name: pts_off_to_home, dtype: float64
-------------------------------------
team_id_away
count    2.425100e+04
mean     1.609218e+09
std      4.737555e+07
min      4.100000e+01
25%      1.610613e+09
50%      1.610613e+09
75%      1.610613e+09
max      1.610617e+09
Name: team_id_away, dtype: float64
-------------------------------------
team_abbreviation_away
count     24251
unique       56
top         MIA
freq        889
Name: team_abbreviation_away, dtype: object
-------------------------------------
team_city_away
count           24251
unique             50
top       Los Angeles
freq             1360
Name: team_city_away, dtype: object
-------------------------------------
pts_paint_away
count    24251.000000
mean        42.065729
std         10.453619
min          8.000000
25%         34.000000
50%         42.000000
75%         48.000000
max        108.000000
Name: pts_paint_away, dtype: float64
-------------------------------------
pts_2nd_chance_away
count    24251.000000
mean        13.222094
std          5.377486
min          0.000000
25%          9.000000
50%         13.000000
75%         17.000000
max         38.000000
Name: pts_2nd_chance_away, dtype: float64
-------------------------------------
pts_fb_away
count    24251.000000
mean        12.927632
std          6.551411
min          0.000000
25%          8.000000
50%         12.000000
75%         17.000000
max        107.000000
Name: pts_fb_away, dtype: float64
-------------------------------------
largest_lead_away
count    24251.000000
mean        11.747598
std          9.076136
min          0.000000
25%          5.000000
50%         10.000000
75%         17.000000
max         78.000000
Name: largest_lead_away, dtype: float64
-------------------------------------
team_turnovers_away
count    24251.000000
mean         0.630201
std          0.817732
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          7.000000
Name: team_turnovers_away, dtype: float64
-------------------------------------
total_turnovers_away
count    24251.000000
mean        14.520061
std          4.047303
min          2.000000
25%         12.000000
50%         14.000000
75%         17.000000
max         32.000000
Name: total_turnovers_away, dtype: float64
-------------------------------------
team_rebounds_away
count    24251.000000
mean         8.417756
std          3.097699
min          0.000000
25%          6.000000
50%          8.000000
75%         10.000000
max         24.000000
Name: team_rebounds_away, dtype: float64
-------------------------------------
pts_off_to_away
count    24251.000000
mean        15.302998
std          7.253955
min          0.000000
25%         11.000000
50%         15.000000
75%         20.000000
max         44.000000
Name: pts_off_to_away, dtype: float64
-------------------------------------

##### Se crea una funcion para obtener la media, la varianza y el rango.

In [17]:
def describir_datos(data):
    for i in data.columns:
        if data[i].dtype == 'float64' or data[i].dtype == 'int64':
            print(i)
            print('Mediana:', data[i].median())
            print('Varianza:', data[i].var())
            print('Rango',data[i].max()-data[i].min())
            print('Moda',data[i].mode())
            print('---')

describir_datos(archivo_data_stats)

game_id
Mediana: 21301226.0
Varianza: 29502398110512.625
Rango 38600087
Moda 0    30200001
1    30900001
2    31000001
3    31200001
4    31400001
5    31600001
6    31800001
7    32200001
8    39900001
Name: game_id, dtype: int64
---
league_id
Mediana: 0.0
Varianza: 0.0
Rango 0
Moda 0    0
Name: league_id, dtype: int64
---
team_id_home
Mediana: 1610612751.0
Varianza: 3738573195702898.0
Rango 1610616793
Moda 0    1610612738
Name: team_id_home, dtype: int64
---
pts_paint_home
Mediana: 42.0
Varianza: 111.92411137302446
Rango 112
Moda 0    42
Name: pts_paint_home, dtype: int64
---
pts_2nd_chance_home
Mediana: 13.0
Varianza: 29.158251951774123
Rango 37
Moda 0    10
Name: pts_2nd_chance_home, dtype: int64
---
pts_fb_home
Mediana: 12.0
Varianza: 44.576236934431876
Rango 106
Moda 0    10
Name: pts_fb_home, dtype: int64
---
largest_lead_home
Mediana: 10.0
Varianza: 84.66468968396244
Rango 70
Moda 0    0
Name: largest_lead_home, dtype: int64
---
lead_changes
Mediana: 5.0
Varianza: 28.163418720112297
Rango 40
Moda 0    0
Name: lead_changes, dtype: int64
---
times_tied
Mediana: 4.0
Varianza: 16.805913800982594
Rango 29
Moda 0    1
Name: times_tied, dtype: int64
---
team_turnovers_home
Mediana: 0.0
Varianza: 0.6468575393001119
Rango 6.0
Moda 0    0.0
Name: team_turnovers_home, dtype: float64
---
total_turnovers_home
Mediana: 14.0
Varianza: 16.267204088512454
Rango 33.0
Moda 0    13.0
Name: total_turnovers_home, dtype: float64
---
team_rebounds_home
Mediana: 8.0
Varianza: 9.725433273237325
Rango 23.0
Moda 0    8.0
Name: team_rebounds_home, dtype: float64
---
pts_off_to_home
Mediana: 15.0
Varianza: 51.550468086553565
Rango 47.0
Moda 0    0.0
Name: pts_off_to_home, dtype: float64
---
team_id_away
Mediana: 1610612752.0
Varianza: 2244443050644683.2
Rango 1610616793
Moda 0    1610612748
Name: team_id_away, dtype: int64
---
pts_paint_away
Mediana: 42.0
Varianza: 109.27815371456677
Rango 100
Moda 0    40
Name: pts_paint_away, dtype: int64
---
pts_2nd_chance_away
Mediana: 13.0
Varianza: 28.917352662681147
Rango 38
Moda 0    12
Name: pts_2nd_chance_away, dtype: int64
---
pts_fb_away
Mediana: 12.0
Varianza: 42.9209894390581
Rango 107
Moda 0    12
Name: pts_fb_away, dtype: int64
---
largest_lead_away
Mediana: 10.0
Varianza: 82.37624938497595
Rango 78
Moda 0    0
Name: largest_lead_away, dtype: int64
---
team_turnovers_away
Mediana: 0.0
Varianza: 0.6686862235886117
Rango 7.0
Moda 0    0.0
Name: team_turnovers_away, dtype: float64
---
total_turnovers_away
Mediana: 14.0
Varianza: 16.38065939421352
Rango 30.0
Moda 0    14.0
Name: total_turnovers_away, dtype: float64
---
team_rebounds_away
Mediana: 8.0
Varianza: 9.59574079504427
Rango 24.0
Moda 0    8.0
Name: team_rebounds_away, dtype: float64
---
pts_off_to_away
Mediana: 15.0
Varianza: 52.61985864160347
Rango 44.0
Moda 0    0.0
Name: pts_off_to_away, dtype: float64
---